<div class="w100" fxLayoutAlign="center center" fxLayout="column">

    <app-search></app-search>

    <ng-template #emptyList>
        Nothing found yet....
    </ng-template>

    <mat-icon *ngIf="loading$ | async">
        <mat-spinner diameter="20"></mat-spinner>
      </mat-icon>

    <div class="table-container" *ngIf="length else emptyList">

        <mat-table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="login">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex='45%' fxFlex.gt-xs="28%">
                    Login
                </mat-header-cell>
                <mat-cell *matCellDef="let user" fxFlex='45%' fxFlex.gt-xs="28%">
                    <span class="w90">

                        <a [href]="user?.html_url + '?tab=repositories'" target="_blank">{{ user?.login }}</a>

                    </span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="45%" fxFlex.gt-xs="27%">
                    Id
                </mat-header-cell>
                <mat-cell *matCellDef="let user" fxFlex="45%" fxFlex.gt-xs="27%">
                    <span class="w90">
                        {{ user?.id }}
                    </span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="url" class="displayNoneTel">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="30%" class="displayNoneTel">
                    Url
                </mat-header-cell>
                <mat-cell class="displayNoneTel" *matCellDef="let user" fxFlex="30%">
                    <span class="w90">
                        {{ user?.url || '&#8212;' }}
                    </span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10%">
                    Type
                </mat-header-cell>
                <mat-cell *matCellDef="let user" fxFlex="10%">
                    <span class="w90">
                        {{ user?.type }}
                    </span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="score" class="displayNoneTel">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10%" class="displayNoneTel">
                    Score
                </mat-header-cell>
                <mat-cell class="displayNoneTel" *matCellDef="let user" fxFlex="10%">
                    <span class="w90">
                        {{ user?.score || '&#8212;' }}
                    </span>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="[
                    'login',
                    'id', 
                    'url',
                    'type', 
                    'score',
                ]">
            </mat-header-row>
            <mat-row (click)="openDetails(row)" class="cursor" *matRowDef="
                    let row;
                    columns: ['login', 'id', 'url',  'type', 'score',]
                ">
            </mat-row>
        </mat-table>
        <mat-paginator #paginator (page)="getPaginatorData($event)" [length]="length"
            [showFirstLastButtons]="showFirstLastButtons" [pageSizeOptions]="pageSizeOptions"
            [hidePageSize]="hidePageSize" [pageIndex]="pageIndex">
        </mat-paginator>
    </div>
</div>